{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div>
    <h1>My Symfony 4 sample project</h1>

    <div>
        <Home></Home>
    </div>
</div>
{% endblock %}
